@import "tailwindcss";

@font-face {
  font-family: 'MontserratBold';
  src: url('fonts/Montserrat-Bold.ttf') format('opentype');
}

/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
