@import "tailwindcss";

html {
  background-color: #0D0D0D !important;
}

body {
  background-color: #0D0D0D !important;
  overscroll-behavior: none;  /* prevents weird glow on some browsers */
}

@layer base {
  html {
    font-family: 'MontserratRegular', sans-serif;
  }
}

@font-face {
  font-family: 'MontserratBold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'MontserratSemibold';
  src: url(/fonts/Montserrat-SemiBold.ttf) format('opentype');
}

@font-face {
  font-family: 'MontserratRegular';
  src: url(/fonts/Montserrat-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'MontserratLight';
  src: url(/fonts/Montserrat-Light.ttf) format('opentype');
}

.MontserratBold {
  font-family: 'MontserratBold', sans-serif;
}

.MontserratSemibold{
  font-family: 'MontserratSemibold', sans-serif;
}

.MontserratRegular{
  font-family: 'MontserratRegular', sans-serif;
}

.MontserratLight{
  font-family: 'MontserratLight', sans-serif;
}

/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

